
.role-label {
    border-bottom-style: dotted;
    border-color: #14B9D6;
    width: 200px;
    padding-bottom: 5px;
}

.btn-white-color {
    color: white !important;
}
.pull-left {
    float: left;
    position: absolute;
    left: 20px;
    top:2px;
}
.btn-tools {
    margin-top: -3px;
    margin-left: -20px;
}
.btn-floating-dd {
    height: 20px;
    width: 20px;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
